@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay/SFProDisplay-Thin.woff2") format("woff2"), url("./assets/fonts/SFProDisplay/SFProDisplay-Thin.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay/SFProDisplay-Light.woff2") format("woff2"), url("./assets/fonts/SFProDisplay/SFProDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2"), url("./assets/fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay/SFProDisplay-Medium.woff2") format("woff2"), url("./assets/fonts/SFProDisplay/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay/SFProDisplay-Semibold.woff2") format("woff2"), url("./assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "DrukTextWideCyr";
  src: url("../fonts/DrukTextWideCyr/DrukTextWideCyr-Medium.woff2") format("woff2"), url("./assets/fonts/DrukTextWideCyr/DrukTextWideCyr-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
